<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style="font-size: 80%">
        <footer>
            <p>&copy; Copyright 2016 RTWO Healthcare Solutions | All Rights Reserved.</p>
        </footer>
    </div>
</div>