<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header header-margin">
		<a type="button" style="border: none;" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
		<div class="navbar-brand header-brand-name" ng-click="makeHomeActive($event)">
			<a class="header-brand-name"><img class="header-brand-name" alt="Brand" src="/modules/commons/styles/images/teeth.png" width="30" height="25">
                <span class="brand-title header-brand-name"> Dental EMR </span></a>
		</div>
	</div>
	<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">

		<ul class="nav navbar-nav">
			<!-- <li class="{{isUserActive ? 'active' : ''}} hidden-sm hidden-md hidden-lg"><a ng-click="makeUserActive($event)" ng-show="userView"><span class="fa fa-users"></span style=""> User</a></li> -->
			<li class="hidden-sm hidden-md hidden-lg"><a ng-click="logout()"><span class="fa fa-sign-out"></span> Logout</a></li>
		</ul>

		<div class="btn-group pull-right hidden-xs header-dropdown" uib-dropdown>
			<div class="header-dropdown-display" ng-disabled="disabled">
				<span class="login-user-name" uib-dropdown-toggle>{{userName}}</span>
			</div>
			<ul class="uib-dropdown-menu pull-right login-user-dropdown" role="menu" aria-labelledby="single-button">
				<li role="menuitem">
					<!-- <a ng-click="makeUserActive($event)" ng-show="userView"><span class="fa fa-users"></span> User</a> -->
					<a ng-click="logout()"><span class="fa fa-sign-out"></span> Logout</a>
				</li>
			</ul>
		</div>

	</div>
	<!--/.nav-collapse -->
</nav>