<div class="emr-content-tab">
    <div class="directive-header-info">Appointment Registration</div>
    <div class="directive-body scrollY" style="max-height: calc(100vh - 105px);">
    	<!-- <h3>Appointment Content</h3> -->
		<div class="row">
	       <div class="col-sm-6 col-md-4">
               <div class="input-group col-md-12">
                   <input type="text" class="form-control input-sm" placeholder="Search by Patient Name" ng-model="appointmentSearch"/>
                   <span class="input-group-btn">
                       <button class="btn btn-info btn-sm" type="button" ng-click="searchClick(appointmentSearch)" ng-disabled="!appointmentSearch">
                           <i class="glyphicon glyphicon-search"></i>
                       </button>
                   </span>
               </div>
	       </div>
		</div>
		
		<h3 ng-if="errInfo">No patient information available with the name "<b>{{appointmentSearch}}</b>"</h3>
		
		<div class="row" ng-if="patient.patientName" style="margin-top: 10px;">
			<table class="table">
		        <tbody>
		            <tr>
		                <td>Name: <td>{{ patient.patientName }}</td>
	                </tr>
	                <tr>
		                <td>Phone No.: <td>{{ patient.contact }}</td>
		            </tr>
		            <tr>
		                <td>Age: <td>{{ patient.patientAge }}</td>
		            </tr>
		            <tr>
		                <td>Gender: <td>{{ patient.patientGender }}</td>
		            </tr>
		        </tbody>
		    </table>
		</div>
		
		
		<div class="row" ng-if="selectedPatientDetails.length" style="margin-top: 10px;">
			<table class="table table-hover">
		        <thead>
		            <tr>
		                <th>Name</th>
		                <th>Contact</th>
		                <th>Dentist</th>
		                <th>Email</th>
		                <th>Start Time</th>
		                <th>End Time</th>
		                <th>Age</th>
		                <th>Gender</th>
		                <th>Place</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="patientInfo in selectedPatientDetails" ng-click="selectedPatient(patientInfo);"  ng-class="{selectedTR : patientInfo === patient}">
		                <td>{{ patientInfo.patientName }}</td>
		                <td>{{ patientInfo.contact }}</td>
		                <td>{{ patientInfo.dentist }}</td>
		                <td>{{ patientInfo.emailId }}</td>
		                <td>{{ patientInfo.startTime }}</td>
		                <td>{{ patientInfo.endTime }}</td>
		                <td>{{ patientInfo.patientAge }}</td>
		                <td>{{ patientInfo.patientGender }}</td>
		                <td>{{ patientInfo.patientPlace }}</td>
		            </tr>
		        </tbody>
		    </table>
		</div>
		
		<div class="row"></div>
    </div>
</div>