<div id="consultation">
	<form id="consultationForm" ng-submit="saveConsultation(consultation)">
		<div class="input-group">
			<span class="input-group-addon">Tooth Number: </span>
			<input id="consultation.teethNo" type="text" class="form-control" name="consultation.teethNo" ng-model="consultation.teethNo" placeholder="Teeth not selected" ng-disabled="true">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Planned Date: </span>
			<input id="plannedDate" type="date" class="form-control btn-default" ng-model="consultation.plannedDate" name="plannedDate" placeholder="PlannedDate" ng-disabled="!consultation.teethNo">
		</div>
	    <div class="input-group">
			<span class="input-group-addon">Performed Date: </span>
			<input id="performedDate" type="date" class="form-control btn-default" ng-model="consultation.performedDate" name="performedDate" placeholder="Doctor Name" ng-disabled="!consultation.teethNo">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Performed By: </span>
			<input id="performedBy" type="text" class="form-control" ng-model="consultation.performedBy" name="performedBy" placeholder="Performed By" ng-disabled="!consultation.teethNo">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Surface: </span>
			<div class="btn-group width-100" uib-dropdown>
				<button type="button" class="btn btn-default uib-dropdown-btn width-100" uib-dropdown-toggle ng-disabled="!consultation.teethNo"> {{selectedSurface}} <span class="caret" ng-disabled="!consultation.teethNo"></span></button>
				<ul class="uib-dropdown-menu pull-right" role="menu" aria-labelledby="single-button">
					<li role="menuitem"><a ng-click="surfaceClick(surf.value)" ng-repeat="surf in surface">{{surf.value}}</a></li>
				</ul>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon">Status: </span>
			<div class="btn-group width-100" uib-dropdown>
				<button type="button" class="btn btn-default uib-dropdown-btn width-100" uib-dropdown-toggle ng-disabled="!consultation.teethNo"> {{selectedStatus}} <span class="caret"></span></button>
				<ul class="uib-dropdown-menu pull-right" role="menu" aria-labelledby="single-button">
					<li role="menuitem"><a ng-click="statusClick(stat.value)" ng-repeat="stat in status">{{stat.value}}</a></li>
				</ul>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon">Specialty: </span>
			<div class="btn-group width-100" uib-dropdown>
				<button type="button" class="btn btn-default uib-dropdown-btn width-100" uib-dropdown-toggle ng-disabled="!consultation.teethNo"> {{selectedSpecialty}} <span class="caret"></span></button>
				<ul class="uib-dropdown-menu pull-right" role="menu" aria-labelledby="single-button">
					<li role="menuitem"><a ng-click="specialtyClick(spec.value)" ng-repeat="spec in specialty">{{spec.value}}</a></li>
				</ul>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon">Category: </span>
			<div class="btn-group width-100" uib-dropdown>
				<button type="button" class="btn btn-default uib-dropdown-btn width-100" uib-dropdown-toggle ng-disabled="!consultation.teethNo"> {{selectedCategory}} <span class="caret"></span>
				</button>
				<ul class="uib-dropdown-menu pull-right" role="menu" aria-labelledby="single-button">
					<li role="menuitem"><a ng-click="categoryClick(cat.value)" ng-repeat="cat in category">{{cat.value}}</a></li>
				</ul>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-addon">Treatment: </span>
			<div class="btn-group width-100" uib-dropdown>
				<button type="button" class="btn btn-default uib-dropdown-btn width-100" uib-dropdown-toggle ng-disabled="!consultation.teethNo"> {{selectedTreatment}} <span class="caret"></span>
				</button>
				<ul class="uib-dropdown-menu pull-right" role="menu" aria-labelledby="single-button">
					<li role="menuitem"><a ng-click="treatmentClick(treat.value)" ng-repeat="treat in treatment track by $index">{{treat.value}}</a></li>
				</ul>
			</div>
		</div>
		<div class="input-group" ng-if="currentTab === 'treatment'">
			<span class="input-group-addon">Amount: </span>
			<input id="amount" type="text" class="form-control" name="amount" ng-model="consultation.amount" placeholder="Amount" ng-disabled="!consultation.teethNo">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Remarks: </span>
			<textarea id="remark" class="form-control btn-default" ng-model="consultation.remark" name="remark" placeholder="Remarks" ng-disabled="!consultation.teethNo"></textarea>
		</div>
		
		<div class="input-group" style="margin-top: 2px">
			<div class="btn-group width-100" uib-dropdown>
				<button type="submit" class="btn btn-info pull-right" ng-disabled="!consultation.teethNo"><span class="fa fa-plus"> <b>Add</b></span></button>
			</div>
		</div>
	</form>
</div>