<div class="help-content-tab">
    <!-- <div class="directive-header-info">Consultation</div> -->
    <div class="directive-header-info">
    	<table style="width: 100%;">
    		<tbody>
    			<tr>
    				<td><span>Name: <b>{{patient.patientName}}</b></span></td>
	    			<td class="hidden-xs"><span>Age: <b>{{patient.patientAge}}</b></span></td>
	    			<td class="hidden-xs"><span>Contact: <b>{{patient.contact}}</b></span></td>
	    			<td><span>Date: <b>{{patient.startTime | date : "d-M-yy"}}</b></span></td>
    			</tr>
    		</tbody>
    	</table>
   	</div>
    <div class="directive-body">
		<ul id="consultation-tab" class="nav nav-tabs" role="tablist" data-tabs="tabs">
			<li class="active"><a data-toggle="tab" ng-click="examinationLoad()">Examination</a></li>
			<li><a data-toggle="tab" ng-click="treatmentLoad()">Treatment</a></li>
		</ul>
		<div class="tab-content scrollY" style="margin-top: 5px; height: calc(100vh - 155px)">
		
			<div role="tabpanel" class="tab-pane fade in active">
				<section class="col-sm-6" style="padding: 2px;">
					<img style="width: 100%;" alt="Brand" src="/modules/emr/images/adult.jpg" ng-click="imgEvent($event)" ng-if="patient.patientAge >= 14">
					<img style="width: 100%;" alt="Brand" src="/modules/emr/images/child.jpg" ng-click="imgEvent($event)" ng-if="patient.patientAge < 14">
				</section>
				<section class="col-sm-6" style="padding: 0 5px;">
					<div ng-include ="'modules/emr/views/consultation-form.html'"></div>
				</section>
			</div>
		
			<!-- <div role="tabpanel" class="tab-pane fade in active" id="examination">
				<section class="col-sm-6" style="padding: 2px;">
					<img style="width: 100%;" alt="Brand" src="/modules/emr/images/adult.jpg" ng-click="imgEvent($event)" ng-if="patient.patientAge >= 14">
					<img style="width: 100%;" alt="Brand" src="/modules/emr/images/child.jpg" ng-click="imgEvent($event)" ng-if="patient.patientAge < 14">
				</section>
				<section class="col-sm-6" style="padding: 0 5px;">
					<div ng-include ="'modules/emr/views/consultation-form.html'"></div>
				</section>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="treatment">
				<section class="col-sm-6" style="padding: 2px;">
					<img style="width: 100%;" alt="Brand" src="/modules/emr/images/adult.jpg" ng-click="imgEvent($event)" ng-if="patient.patientAge >= 14">
					<img style="width: 100%;" alt="Brand" src="/modules/emr/images/child.jpg" ng-click="imgEvent($event)" ng-if="patient.patientAge < 14">
				</section>
				<section class="col-sm-6" style="padding: 0 5px;">
					<div ng-include ="'modules/emr/views/consultation-form.html'"></div>
				</section>
			</div> -->
			<div style="margin-top: 10px;" ng-if="consultationSet.length">
				<table class="table">
					<thead>
						<tr>
							<th>Tooth Number</th>
							<th>Planned Date</th>
							<th>Performed Date</th>
							<th>Performed By</th>
							<th>Surface</th>
							<th>Status</th>
							<th>Treatment</th>
							<th ng-if="currentTab === 'treatment'">Amount</th>
							<th>Remark</th>
						</tr>
					</thead>
			        <tbody>
			            <tr ng-repeat="consult in consultationSet">
			                <td>{{consult.teethNo}}</td>
			                <td>{{consult.plannedDate | date:'d-M-yy'}}</td>
			                <td>{{consult.performedDate | date:'d-M-yy'}}</td>
			                <td>{{consult.performedBy}}</td>
			                <td>{{consult.surface}}</td>
			                <td>{{consult.status}}</td>
			                <td>{{consult.treatment}}</td>
			                <td ng-if="currentTab === 'treatment'">{{consult.amount}}</td>
			                <td>{{consult.remark}}</td>
		                </tr>
			        </tbody>
			        <tfoot>
			        	<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td ng-if="currentTab === 'treatment'"></td>
							<td><button class="btn btn-primary" ng-click="saveConsultationData(consultationSet)">Save</button></td>
						</tr>
			        </tfoot>
			    </table>
			</div>
		</div>
    </div>
</div>