<div id="emr" class="emr-content">
    <div class="row emr-main-content-display">
        <!--sidebar start-->
        <div class="emr-side-menu" id="side-menu">
            <ul class="emr-side-menu-ul">
                <li ng-click="getEmrHtml('appointment-registration')" ng-class="{active:selectedLi=='appointment-registration'}">
                    <a class="emr-side-menu-a">
                        <span class="fa fa-lock emr-left-icon" aria-hidden="true"></span>
                        <span class="hidden-xs hidden-sm">Appointment</span>
                    </a>
                </li>
				<li ng-click="getEmrHtml('consultation')" ng-class="{active:selectedLi=='consultation'}" ng-if="patient.patientName">
                    <a class="emr-side-menu-a">
                        <span class="fa fa-user emr-left-icon" aria-hidden="true"></span>
                        <span class="hidden-xs hidden-sm">Consultation</span>
                    </a>
                </li>
                <li ng-click="getEmrHtml('prescription')" ng-class="{active:selectedLi== 'prescription'}" ng-if="patient.patientName">
                    <a class="emr-side-menu-a">
                        <span class=" fa fa-user emr-left-icon" aria-hidden="true"></span>
                        <span class="hidden-xs hidden-sm">Prescription</span>
                    </a>
                </li>
                <li ng-click="getEmrHtml('billing')" ng-class="{active:selectedLi== 'billing'}" ng-if="patient.patientName">
                    <a class="emr-side-menu-a">
                        <span class=" fa fa-home emr-left-icon" aria-hidden="true"></span>
                        <span class="hidden-xs hidden-sm">Billing</span>
                    </a>
                </li>
                <li ng-click="getEmrHtml('treatment-price')" ng-class="{active:selectedLi== 'treatment-price'}">
                    <a class="emr-side-menu-a">
                        <span class=" fa fa-cogs emr-left-icon" aria-hidden="true"></span>
                        <span class="hidden-xs hidden-sm">Treatment Price</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--sidebar end-->
        <!--main content area start-->
        <div id="emr-content" class="emr-content">
            <div ng-include ='template'></div>
        </div>

    </div>
    <!--main content area end-->
</div>