.login_container {
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: url("/modules/login/images/loginpage.png") no-repeat; 
	/* background: cadetblue; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#login_pg {
	display: table;
	text-align: right;
	padding : 20px;
	width: 100%;
	height: 100%;
}

#login_pg .form_cover {
	display: table-cell;
	vertical-align: middle;
}

#login_pg .login_form {
	display: inline-block;
	padding: 30px;
	width: 300px;
	color: #fff;
	cursor: default;
	text-align: left;
}

#login_pg .login_form .fa {
	font-size: 35px;
	color: white;
}

#login_pg .login_form .header {
	display: table;
	width: 100%;
	min-height: 50px;
	background-color: #122b40;
}

#login_pg .login_form .header .form_title {
	margin-top: 5px;
}

#login_pg .login_form .header p {
	display: table-cell;
	vertical-align: middle;
	padding: 30px 25px;
	text-align: left;
	margin-bottom: 0;
	font-weight: 700;
	line-height: 17px;
}

#login_pg .login_form .login_body {
	position: relative;
	display: block;
	min-height: 200px;
	width: 100%;
	border-radius: 0 0 5px 5px;

}

#login_pg .login_form .input_row:last-child {
	padding-bottom: 40px;
	padding-top: 20px;
}

#login_pg .login_form .input_row .fa {
	font-size: 14px;
	color: #ccc;
}

#login_pg .login_form .submit {
	font-size: 16px;
	background: lightgray;
    border-color: #000;
    color: #000;
}

#login_pg a {
	color: yellow;
}

@media screen and (max-width: 400px) {
	#login_pg .login_form {
		width: 360px;
	}
}

@media screen and (max-width: 340px) {
	#login_pg .login_form {
		width: 300px;
	}
}

@media screen and (max-width: 320px) {
	#login_pg .login_form {
		width: 280px;
	}
}

.failure {
	color: red;
	padding-top: 15px;
}