<div class="hospDet_cont col-sm-6 col-md-3 col-lg-3">
    <div class="detailsBox thumbnail">
        <div class="alertPic_cont noti_{{thisCenter.alertType}} centertile_width">
            <img class="bg_pic" src="modules/commons/styles/images/center_tile.png" alt="Device"/>
            <span class="alert_noti" ng-show="thisCenter.isAlertPresent"><i class="noti_bell fa fa-bell" aria-hidden="true"></i></span>
        </div>
        <div class="caption">
            <p class="info_line"><span class="lbl">Hospital:</span><span class="val" title="{{thisCenter.name}}">{{thisCenter.name}}</span></p>
            <p class="info_line"><span class="lbl">Location:</span><span class="val" title="{{thisCenter.location}}">{{thisCenter.location}}</span></p>
            <p class="main_infoLine"><span class="lbl">No. of Beds:</span><span class="val">{{thisCenter.noOfConnectedBeds}}</span></p>
        </div>
    </div>
</div>