<div class="main_container">
    <app-header></app-header>
    <!--Render Home Content-->
    <home-content ng-if="isHomeActive"></home-content>
    <user ng-if="isUserActive"></user>
    <emr ng-if="isHelpActive"></emr>
</div>