@font-face {
	font-family: 'HelveticaNeue_light';
	src: url('/modules/commons/styles/fonts/HelveticaNeue-Light.otf') format('truetype');
}
@font-face {
	font-family: 'HelveticaNeue_regular';
	src: url('/modules/commons/styles/fonts/HelveticaNeue.ttf') format('truetype');
}
@font-face {
	font-family: 'HelveticaNeue_bold';
	src: url('/modules/commons/styles/fonts/helvetica-neue-bold.ttf') format('truetype');
}	
*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
	cursor:default;	
	-ms-scrollbar-base-color: dimgrey;
    -ms-scrollbar-track-color: dimgrey;
    -ms-scrollbar-face-color: rgba(0, 0, 0, 0.5);
    -ms-scrollbar-arrow-color: rgba(0, 0, 0, 0.5);
}
input,input:before,input:after,
textarea,textarea:before,textarea:after{
	-webkit-touch-callout: initial; /* iOS Safari */
	-webkit-user-select: initial;   /* Chrome/Safari/Opera */
	-khtml-user-select: initial;    /* Konqueror */
	-moz-user-select: initial;      /* Firefox */
	-ms-user-select: initial;       /* Internet Explorer/Edge */
	user-select: initial;	
}
input,textarea,button{
	outline:none !important;
}
html,body{
	margin:0 auto;
	padding:0;
	width:100%;
	height:100vh;
	font-family:HelveticaNeue_light,HelveticaNeue_regular,HelveticaNeue_bold;
    letter-spacing:.6px;
	background-color: #081016 !important;
	overflow: hidden;
}
.main_container{
	overflow-x:hidden;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.navbar-brand {
    float: left;
    /*height: 50px;*/
    padding: 14px 10px;
    font-size: 16px;
    /*line-height: 20px;*/
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form, .navbar-header {
    border-color: #101010;
    background-color: cadetblue;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    color: ghostwhite;
    background-color: #081016;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #4e8284;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,#081016 0,#081016 100%);
    background-image: -o-linear-gradient(top,#081016 0,#081016 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#081016),to(#0f0f0f));
    background-image: linear-gradient(to bottom,#081016 0,#081016 100%);
}

.brand-title {
	color: #ffffff; 
	margin-left: 5px;
}

#menu_pg{
	height:100%;
	background-color: white;
	margin-top: 50px;
	cursor:default;
}
#menu_pg .main_header{
	text-align: center;
    display: table;
    width: 100%;
    height:50px;
    border-bottom: 1px solid #787878;	
}
#menu_pg .main_header .txt{
	color: #F1F4F8;
    font-size: 18px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

#menu_pg .infoBox_container{
	margin:auto;
}
#menu_pg .body_cover .selInfoLine{
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}
#menu_pg .hospDet_cont{
	padding:5px;
}
#menu_pg .hospDet_cont .detailsBox{
	margin:0 auto;
}
#menu_pg .hospDet_cont .detailsBox .caption{
	padding:0;
}
#menu_pg .hospDet_cont .detailsBox .info_line{
	display:table;
	margin:0;
	padding:5px 2.5px;
	color:#585858;
}
#menu_pg .hospDet_cont .detailsBox .info_line .lbl{
	display:table-cell;
	vertical-align:middle;
	font-size:13px;
	color:#585858;
}
#menu_pg .hospDet_cont .detailsBox .info_line .val{
	margin-left: 5px;
	font-size:15px;
	color:#944692;
	font-weight:100;
	word-wrap: break-word;
}
#menu_pg .hospDet_cont .detailsBox .main_infoLine{
	margin:0;
	padding:5px 2.5px;	
}
#menu_pg .hospDet_cont .detailsBox .main_infoLine .lbl{
	font-size:16px;
	color:#585858;
	font-weight:bold;
	padding: 0px 2.5px;
}
#menu_pg .hospDet_cont .detailsBox .main_infoLine .val{
	font-size:16px;
	color:#944692;
	font-weight:bold;
	padding: 0px 2.5px;	
}
#menu_pg .about_container{
    color: #fff;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 15px 0;	
}
#menu_pg .about_container .tit_line{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
	padding: 0px 2.5px;	
}
#menu_pg .about_container .desc_line{
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 200;
	padding: 0px 2.5px;	
}
@media (max-width:768px){
	#menu_pg .main_header .txt{
		font-size: 15px;
	}
	#menu_pg .body_cover .selInfoLine{
		font-size:12px;
	}
	#menu_pg .alertPic_cont .alert_noti{
		width:28px;
		height:28px;
		line-height:25px;
		font-size:15px;
	}
	#menu_pg .hospDet_cont .detailsBox .info_line{
		padding:2.5px 5px;
	}
	#menu_pg .hospDet_cont .detailsBox .info_line .lbl{
		font-size: 11px;
	}
	#menu_pg .hospDet_cont .detailsBox .info_line .val{
		font-size: 13px;
	}
	#menu_pg .hospDet_cont .detailsBox .main_infoLine .lbl,
	#menu_pg .hospDet_cont .detailsBox .main_infoLine .val{
		font-size: 14px;
	}
	#menu_pg .about_container{
		width:80%;
	}
}

@media (max-width:768px) and (orientation:landscape) {
    .hospDet_cont {
        width: 50%;
    }
}

@media (max-width:640px){
	#menu_pg .hospDet_cont .detailsBox{
		max-width:90%;
	}
	#menu_pg .about_container{
		width:85%;
	}

}

@media (max-width:350px){
	#menu_pg .hospDet_cont{
		width:100%;
	}
}

.alertPic_cont{
    width: 100%;
    position: relative;
    padding: 10px 10px 2.5px 2.5px;
	max-width: 140px;
    margin: auto;
}
.alertPic_cont .bg_pic{
    max-width: 100%;
	min-width:40px;	
}
.alertPic_cont .txt_cover{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 10px 10px 2.5px 2.5px;
    width: 100%;
    height: 100%;
    font-size: 10px;
    text-align: center;
    display: table;	
}
.alertPic_cont .txt_cover .nme{
	display: table-cell;
    vertical-align: middle;	
}
.alertPic_cont .alert_noti{
	display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    text-align: center;
    line-height: 31px;
    background-color: #FFFFFF;
    border: 1px solid #929392;
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #0CCAA0;
    font-size: 20px;	
}
.alertPic_cont.noti_info .alert_noti{
    color: #0CCAA0;
}
.alertPic_cont.noti_warning .alert_noti{
    color: #F5A623;
}
.alertPic_cont.noti_critical .alert_noti{
    color: #F84C61;
}

.content-loading{
	vertical-align: middle;
}
.content-loading .loading{
	font-size:50px;
	color: #FFFFFF;
}

.logout{
	margin-top: 13px;
	margin-right: 15px;
	float: right;
	color: grey;
}
.logout:hover{
	color:white;
	text-decoration: none;
}

.directive-header-info {
	background: #4e8284;
	color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: medium;
    font-weight: bold;
    cursor: default;
}


/* nishanth */


.header-dropdown-display {
	color: white;
	font-size: 16px;
	margin-right: 10px;
	margin-top: 15px;
	display: inline-block;
}

.login-user-name {
	color: #ffffff;
    padding: 10px;
    max-width: 250px;
    cursor: pointer;
}

.login-user-name:hover {
	background: #4e8284;
	color: white
}

.login-bell-span {
	color: #9d9d9d;
	font-size: x-large;
	float: right;
	cursor: pointer;
}

.login-bell-span:hover {
	color: white;
}

.login-user-dropdown {
	top: 40px;
    right: 10px !important;
}

.navbar-brand a:hover {
	text-decoration: none;
}

.header-brand-name {
	cursor: pointer;
}

.header-bell-count {
  	font-size: 12px;
    position: absolute;
    color: white;
    cursor: pointer;
    right: 5px;
    top: 10px;
    border-radius: 2px;
    padding: 3px;
    background: #F84C61;
}

.noti-bed {
	text-align: center;
	width: 300px;
	margin:0;
	color: dimgrey;
}

.noti-bed:hover {
	background: lightgray;
	color: black;
}

.noti-bed-label {
	font-weight: bold;
	text-align: left;
}

.noti-bed-content {
	padding: 0;
}

.noti-device {
	text-align: left;
	padding: 0 5px;	
	font-weight: normal;
	color: dimgrey;
}

.noti-device:hover {
	background: #243640;
	color: white;
}

@media (min-width: 768px) {
	.navbar-header:hover {
		background: #4e8284;
	}
}

/* Rajib */

.config-content{
    margin-top:48px;
	display:table;
	width:100%;
}
.config-side-menu {
	background-color:#4e8284;
    padding: 0px;
    vertical-align: top;
    display: table-cell;
    float: none;
    height: calc(100vh - 50px);
    z-index: 1;    
}


.config-side-menu-ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

.config-side-menu-a {
	padding: 19px 10px;
    text-decoration: none;
    color: #9fb1c2;
    font-weight: bold;
    font-size: 13px;
    display: block;
    white-space: nowrap;
	text-overflow: ellipsis;
}

.config-side-menu-a:hover {
	background-color: #243640;
    color: #fff;
    display: block;
    text-decoration: none;
}

#config .active {
	background-color: #243640;
    color: #fff;
}
.config-main-content-display{
    display: table-row;
}

.config-left-icon {
	margin-right: 6px;
}

.config-left-text {
    cursor: default;
}

/* Dental EMR */
.scrollY {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 8px; /* for vertical scrollbars */
	height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: beige;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: rgb(95, 158, 160);
	border-radius: 5px;
}