.directive-body {
	padding-right: 15px;
	padding-left: 15px;
	margin-left: 5px;
	overflow: auto;
	width: calc(100vw - 175px);
}

.emr-content{
	display: table;
	width: calc(100vw - 165px);
}

.emr-panel-border {
	border: none;
}

.emr-panel-header {
	background:cadetblue;
	color:white;
	margin: 0;
	cursor:pointer;
}

.emr-side-menu {
	background-color:beige;
    padding: 0px;
    vertical-align: top;
    display: table-cell;
    float: none;
    height: calc(100vh - 48px);
	min-width: 165px;
}

.emr-side-menu-ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

.emr-side-menu-a {
	padding: 19px 20px;
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 13px;
    display: block;
}

.emr-side-menu-a:hover {
	background-color: cadetblue;
    color: #fff;
    display: block;
    text-decoration: none;
}

.emr-side-menu-ul .active .emr-side-menu-a {
	background-color: #4e8284;
    color: #fff;
}

.emr-main-content-display{
    display: table-row;
}

.emr-content-tab{
    /* margin-left: -5px;
    margin-right: -5px; */
    text-align: justify;
}

.emr-anchor{
    display: block;
    text-decoration: none;
    cursor: pointer;
}

#emr .padding-zero{
    padding-left: 0;
    padding-right: 0;
}

.emr-content-display {
    max-height: -webkit-calc(100vh - 120px);
    max-height: calc(100vh - 120px);
    margin-right: 14px;
    padding-right: 1px;
}

.selectedTR {
	background-color: lightgrey !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	color: #fff;
    background-color: #4e8284;
}

.nav-tabs>li>a {
	color: grey;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: white;
	background: #5f9ea0;
}

.tooth-info>tr>td {
	padding: 2px;
}

#consultation .input-group-addon {
	background: cadetblue;
    color: white;
}

#consultation>div {
	margin-top: 5px;
}

.width-100 {
	width: 100%;
}

#consultation .input-group {
	width: 100%;
}

#consultation .input-group > span {
	width: 134px;
	text-align: right;
}

.uib-dropdown-menu {
	overflow-y: auto;
	max-height: calc(100vh - 470px);
}

@media screen and (max-width: 991px){
    .emr-left-icon{
        font-size: 24px;
    }
    .emr-side-menu-a {
        padding: 16px 20px;
        text-align: center;
    }
    .emr-side-menu {
		min-width: 50px !important;
	}
	.emr-content{
		width: calc(100vw - 50px);
	}
	.directive-body {
		width: calc(100vw - 80px);
	}
}

@media only screen and (max-width : 480px) {
    #emr .panel-title{
        font-size: 14px;
    }
}