
<div class="login_container" ng-init="sessionStart()">
    <section id="login_pg" ng-if = '!dispHTLM'>
        <div class="form_cover">
        
            <form class="login_form" name = "userForm">
                   <h3>Welcome!</h3>
                   <h4>{{today | date:'EEEE  d, y'}}</h4>
                <div class="login_body">
                    <div class="input_row">
                        <label class="lbl"><i class="fa fa-user"></i>&nbsp;User Name</label><br>
                        <input class="form-control" type="text" ng-model="userCredentials.username"/>
                    </div>
                    <div class="input_row">
                        <label class="lbl"><i class="fa fa-eye"></i>&nbsp;Password</label>
                        <input class="form-control" type="password" ng-model="userCredentials.password"/>
                     	<div class="failure">{{invalid}}</div>
                    </div>
                    <div class="input_row">
                        <button class="form-control submit" type="submit" ng-click="login(userCredentials)">Submit</button>
                    </div>
                     <div style="font-size: 17px;">
       					 <p class="message">Forget your password, No worry! Please <a ng-click="clickHere('password')"> click here </a></p>
       					 <p>New Users <a class="signup" ng-click="clickHere('sign-up')">Click here</a></p>        
     				 </div>
                </div>
            </form>
        </div>
    </section>
     <div ng-include='dispHTLM' ng-if="dispHTLM"></div>
</div>





