
<section style="margin:15px">
  <div >
    <div style="border:2px solid black;background:rgb(231,230,230)" class="col-lg-12">
        <h4 class="col-lg-2 col-lg-push-1" style="font-weight:700">New User Registration</h4>
      </div>
  </div>
  <br>
  <div style="border:2px solid black;background:rgb(231,230,230)">

    <div class="container">

       <form name="userForm" ng-submit="signup(userForm.$valid);upload(picFile)" class="signin register-form" novalidate autocomplete="off" style="margin-top:5%;margin-bottom:10%">
<!--         
       <div ng-controller="ChangeProfilePictureController">

        <md-card-content>

                <img ngf-src="fileSelected ? picFile : '/' + user.profileImageURL" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture"
                  ngf-drop style="width:15%"; height="20%">
              <div ng-show="loading" class="form-group text-center">
                <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
              </div>&nbsp;&nbsp;&nbsp;&nbsp;
              <md-button ng-show="!fileSelected" type="submit" class="md-raised  md-hue-2 center margin-zero" ngf-select="(fileSelected = true) && (loading = false)"
              ng-model="picFile" accept="image/*" ngf-before-model-change="loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400"
              flex>Select Picture</md-button>

        </md-card-content>
       </div> -->

      <div class="row">
       <div class="col-lg-6">
           <img class="prsnl-image" ng-src="{{credentials.picture.url}}" ng-if="credentials.picture.url" />
           <img class="prsnl-image" ng-src="" ng-if="!credentials.picture.url" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <button type="button" class="btn btn-default" ng-click="upload()">Upload <span class="caret"></span> </button>
       </div>
    </div>

      <br><div class="row" >
         
      <div class="col-lg-6">
        
      <div class="form-group" show-errors>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; First  Name *</span>
          <input type="text" id="firstName" name="firstName" ng-model="credentials.firstName" maxlength="64" class="form-control" ng-pattern="/^[a-zA-Z]{2,64}$/" required autofocus>
          <!-- <span ng-show="userForm.firstName.$dirty && userForm.firstName.$invalid" class="ng-hide">First Name is required</span> -->
        </div>
       
        <div ng-show="userForm.firstName.$dirty && userForm.firstName.$invalid" role="alert">
          <p class="help-block error-text" ng-message="required">First name is required.</p>
        </div>
      </div>

      <div class="form-group" show-errors>
          <div class="input-group input-group-lg">
              <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last Name *</span>
        <input type="text" id="lastName" name="lastName" ng-model="credentials.lastName" maxlength="64" class="form-control" ng-pattern="/^[a-zA-Z]{2,64}$/"  required>
      </div>
        <div ng-show="userForm.lastName.$dirty && userForm.lastName.$invalid" role="alert">
          <p class="help-block error-text" ng-message="required">Last name is required.</p>
        </div>
      </div>

      <div class="form-group" show-errors>
          <div class="input-group input-group-lg">
              <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp; User Name *</span>
          <input type="text" id="username" name="username" ng-model="credentials.username" maxlength="64" class="form-control" ng-pattern="/^[a-zA-Z0-9]{4,64}$/" lowercase required>
        </div>
          <div ng-show="userForm.username.$dirty && userForm.username.$invalid" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
            <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gender </span>
            <select class="form-control" name="singleSelect" id="singleSelect" ng-model="credentials.gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
            </div>
            <div ng-show="userForm.singleSelect.$dirty && userForm.singleSelect.$invalid" role="alert">
              <p class="help-block error-text" ng-message="required">Gender is required.</p>
            </div>
          </div>

        <div class="form-group" show-errors>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email Id *</span>
            <input type="email" id="email" name="email" ng-model="credentials.email" maxlength="100" class="form-control" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" lowercase required>
            </div>
            <div ng-show="userForm.email.$dirty && userForm.email.$invalid" role="alert">
              <p class="help-block error-text" ng-message="required">Email address is required.</p>
              <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
            </div>
          </div>

          <!-- <div class="form-group" show-errors>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Registered By *</span>
              <select class="form-control" name="singleSelect" id="singleSelect" ng-model="credentials.roles" required>
                <option value="self">Self</option>
                <option value="rep"> Rep</option>
              </select>
            </div>
              <div ng-messages="userForm.roles.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Role is required.</p>
              </div>
            </div> -->
  
     
    </div>


    <div class="col-lg-6">
        <!-- <div class="form-group" show-errors>
          <div class="input-group input-group-lg">
            <span class="input-group-addon">Registered By *</span>
            <select class="form-control" name="singleSelect" id="singleSelect" ng-model="credentials.roles" required>
              <option value="self">Self</option>
              <option value="rep"> Rep</option>
            </select>
          </div>
            <div ng-messages="userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Role is required.</p>
            </div>
          </div> -->

          <div class="form-group" show-errors>
            <div class="input-group input-group-lg" style="height:107px">
                <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Address *</span>
            <textarea type="text" id="address" class="form-control" name="address" maxlength = "1024" ng-model="credentials.address" required style="height:107px"></textarea>
            </div>
            <div ng-show="userForm.address.$dirty && userForm.address.$invalid" role="alert">
              <p class="help-block error-text" ng-message="required">Address is required.</p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">Registered By *</span>
              <select class="form-control" name="singleSelect" id="singleSelect1" ng-model="credentials.roles" required>
                <option value="Self">Self</option>
                <option value="Rep"> Rep</option>
              </select>
            </div>
              <div ng-show="userForm.singleSelect.$dirty && userForm.singleSelect.$invalid" role="alert">
                <p class="help-block error-text" ng-message="required">Role is required.</p>
              </div>
            </div>
            
			 <div class="form-group" show-errors ng-if="credentials.roles === 'Rep'">
	          <div class="input-group input-group-lg">
	              <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp; Sales Rep. Name *</span>
	          <input type="text" id="username" name="salesRepName" ng-model="credentials.salesRepName" maxlength="64" class="form-control" ng-pattern="/^[a-zA-Z0-9]{4,64}$/" lowercase required>
	        </div>
	          <div ng-show="userForm.salesRepName.$dirty && userForm.salesRepName.$invalid" role="alert">
	            <p class="help-block error-text" ng-message="required">salesRepName is required.</p>
	            <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
	          </div>
	        </div>
        
        <div class="form-group" show-errors>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phone# *</span>
            <input type="text" id="phoneno" name="phoneno" ng-model="credentials.phoneno" class="form-control" ng-pattern="/^[7-9][0-9]{9}$/"required>
            </div>
            <div ng-show="userForm.phoneno.$dirty && userForm.phoneno.$invalid" role="alert">
              <p class="help-block error-text" ng-message="required">Phone No is invalid.</p>
            </div>
          </div>
         
          <div class="form-group" show-errors>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; City *</span>
              <select class="form-control" name="singleSelect" id="singleSelect2" ng-model="credentials.city">
                <option value="{{credentials.othercity}}">Other City</option> 
                <option value="bengaluru">Bengaluru</option>
                <option value="tumkur">Tumkur</option>
                <option value="mysore">Mysore</option>
                <option value="hubli">Hubli</option>
                <option value="davanagere">Davanagere</option>
              </select>
            </div>
              <div ng-show="userForm.singleSelect.$dirty && userForm.singleSelect.$invalid" role="alert">
                <p class="help-block error-text" ng-message="required">Role is required.</p>
              </div>
            </div>
    </div>

      <div class="form-group col-lg-12" ><br>
        <div style="float:right">
          <!-- <md-button  ui-sref="authentication.signin" class="md-raised" ng-click="treatmentobjCancel()">Cancel</md-button>
          <md-button  type="submit" class="md-raised" ng-click="TreatmentobjSave()">Register</md-button> -->
          <button class="btn btn-danger" ng-click="treatmentobjCancel()">Cancel</button>
          <button class="btn btn-primary" type="submit" ng-click="treatmentobjSave(credentials)">Register</button>
        </div>
      </div>

    </div>

  </form>
</div>

</div>

</section>